<div class="row">
    <div class="col-lg-3 col-6">
        <!-- small box -->
        <div class="small-box bg-info">
            <div class="inner" style="height: 120px">
                <h3>Conta</h3>

                <p>Tipos de Despesas</p>
            </div>
            <div class="icon">
                <i class="fas fa-wallet"></i>
            </div>
            <a class="small-box-footer" asp-area="" asp-controller="Captures" asp-action="Index">Mais Detalhes <i class="fas fa-arrow-circle-right"></i></a>
        </div>
    </div>
    <!-- ./col -->
    <div class="col-lg-3 col-6">
        <!-- small box -->
        <div class="small-box bg-success">
            <div class="inner" style="height: 120px">
                <h3 style="font-size: 1.75rem">Centro de Custos</h3>

                <p>Destinatários dos gastos</p>
            </div>
            <div class="icon">
                <i class="fas fa-donate"></i>
            </div>
            <a class="small-box-footer" asp-area="" asp-controller="CostCenters" asp-action="Index">Mais Detalhes <i class="fas fa-arrow-circle-right"></i></a>
        </div>
    </div>
</div>